name: Test and Dockerize
on: workflow_dispatch

permissions:
  contents: read
  security-events: write

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v6
            - name: Cache Dependencies
              id: npm-dependency-cache
              uses: actions/cache@v4
              with: 
                path: node_modules
                key: npm-dep-cach-${{ hashFiles('**/package-lock.json') }}
            - name: Install Dependencies
              if: steps.npm-dependency-cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: test
              id: test-step
              run: npm test
            - name: Generate test report
              if: failure() && steps.test-step.outcome == 'failure'
              uses: actions/upload-artifact@v4
              with:
                name: test-report
                path: ./test-report

    SAST:
      runs-on: ubuntu-latest
      needs: test
      steps:
        - uses: actions/checkout@v6
        - name: Run Snyk to check for vulnerabilities
          uses: snyk/actions/node@master
          continue-on-error: true # To make sure that SARIF upload gets called
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          with:
            args: --sarif-file-output=snyk-code.sarif
            command: code test
        - name: Upload result to GitHub Code Scanning
          uses: github/codeql-action/upload-sarif@v4
          with:
            sarif_file: snyk-code.sarif
    
    Dockerize_and_push:
      needs: SAST
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1

        - name: AWS ECR Login
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2

        - name: Build image
          env:
            ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
            ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          run: |
            docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest .
          # docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

        - name: Run Snyk to check Docker image for vulnerabilities
          continue-on-error: true
          uses: snyk/actions/docker@master
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          with:
            image: $ECR_REGISTRY/$ECR_REPOSITORY:latest
            args: |
                  --file=Dockerfile
                  --sarif-file-output=snyk-container.sarif
        - name: Upload result to GitHub Code Scanning
          uses: github/codeql-action/upload-sarif@v4
          with:
            sarif_file: snyk-container.sarif  




